

/* GENERAL STYLING */

    /* html style */
html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #F7F1ED;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

    /* text styling */
.left-align {
    width: 366px;
    margin: 0 auto;
    text-align: left;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
    color: #413939;
}

h2, h3 {
    font-weight: bold;
    font-size: 1.125rem;
    color: #413939;
}

p {
    font-size: 1rem;
    color: #413939;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

    /* general flex*/
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    gap: 1rem;
}




/* MORE SPECIFIC STYLING START HERE */



/* Header Styling */

    /* navigation buttons */
.nav-links {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.navbtn {
    font-size: 0.75rem;
    color: #413939;
    border: 1px solid #413939;
    border-radius: 12px;
    padding: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin: 0.5rem;
}

.specialbtn {
    color: #FFFFFF;
    background-color: #98002E;
    border: none;
}

    /* image size */
.logo {
    display: block;
    width: 188px;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

    /* center align */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}





/* Section 1: Article Cards */

    /* grid */
.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 4rem;
    
}


    /* image sizing */
.img-containers {
    margin: 0 auto;
}

.article-images {
    display: block;
    float: left;
    width:  365.5px;
    height: 365.5px;
    object-fit: cover;
}

.crop-img {
    min-width: 365.5px ;
    height: 365.5px ;
    object-fit: cover;
}

.banner-img {
    min-width: 365.5px ;
    height: 365.5px ;
    object-fit: scale-down;
}

    /* border bottom */
.border-bottom {
    border-bottom: 1px solid #98002E;
    width: 365.5px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
}

.imageless {
    margin-bottom: 6rem;
}


/* Section 2: About Us */

    /* image sizing */
.classimage {
    width: 364px;
    height: 225px;
    object-fit: cover;
    margin: 0 auto;
}

    /* flex */
.aboutus {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 5rem;
    gap: 3rem;
    background-color: #F4E2D6;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


    /* button */
.btn {
    background-color: #98002E;
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 364px;
    text-align: center;
    color: #FFFFFF;
    font-weight:lighter;
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    background-color: #98002E;
    position:relative;
    min-width: 100%;
    height: 150px;
}

    /* img size */
.footerlogo {
    width: 188.23px;
    height: 31.02px;
    margin: 0 auto;
    padding: 1rem;
}

    /* disclaimer */
small {
    font-weight: lighter;
    color: white;
    font-size: 0.875rem;
}







/* Media Queries */

    /* hide mac icon */
@media screen and (max-width: 1319px)  {
    .hide {
        display: none;
    }
}

    /* Layout for screen size of 1320px */
@media screen and (min-width: 1320px)  {

    /* font sizes and styles */
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* header edits */
    .hide {
        width: 350px;
        height: 100%;
        justify-items: end;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
        padding: 3.5rem;
        margin: 0 auto;
    }

    .just-left {
        text-align: left;
    }

    .nav-links {
        margin-left: -6px;
    }

    .logo {
        margin: 0px;
        width: 400px;
        height: 66.67px;
    }

    /* grid layout */
    .articles {
        display: grid;
        justify-items: center;
        max-width: 90vw;
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: auto;
        margin: 0 auto;
        gap: 0;
        
    }

    /* image sizing + grid */
    .flex-col {
        width: 424px;
    }

    .article-images {
        width: 424px;
    }

    .pizza {
        min-width: 727px;
        grid-column-start: 2;
        grid-column-end: 4;
        justify-self: flex-end;
        margin-bottom: 3rem
    }

    .crop-img {
        width: 727px;
        height: 635px;
    }

    .banner-img {
        width: 424px;
    }

    .left-align {
        width: 100%;
    }

    .imageless {
        width: 271px;
    }
    
    /* get rid of border */
    .border-bottom {
        border: none;
    }

}