

/* GENERAL STYLING */

    /* html style */
html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

    /* text styling */
.left-align {
    width: 366px;
    margin: 0 auto;
    text-align: left;
}



.size13 {
    font-size: 0.8125rem;
}

.size16 {
    font-size: 1 rem;
}
    /* general flex*/
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    gap: 1rem;
}




/* MORE SPECIFIC STYLING START HERE */



/* Header Styling */

    /* image size */
.logo {
    display: block;
    width: 188px;
    margin: 0 auto;
}

    /* center align */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: rem;
}





/* Section 1: Article Cards */

    /* grid */
.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    
}


    /* image sizing */
.img-containers {
    margin: 0 auto;
}

.article-images {
    display: block;
    float: left;
    width:  365.5px;
    height: 365.5px;
    object-fit: cover;
}

.crop-img {
    min-width: 365.5px ;
    height: 365.5px ;
    object-fit: cover;
}

.banner-img {
    min-width: 365.5px ;
    height: 365.5px ;
    object-fit: scale-down;
}

.border-bottom {
    border-bottom: 1px solid #98002E;
    width: 365.5px;
    margin: 0 auto;
}

/* Section 2: About Us */

    /* image sizing */
.classimage {
    min-width: 364px;
    height: 225px;
    object-fit: cover;
}

.aboutus {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


/* Footer */
.footerlogo {
    width: 188.23px;
    height: 31.02px;
    margin: 0 auto;
}






/* Media Queries */
@media screen and (max-width: 1320px)  {
    .hide {
        display: none;
    }
}

